h1{
    text-align: center;
    color: brown;
    padding-top: 60px;
}

h2 {
    color: black;
}

body p{
    text-align: center;
    color: white;
}

body {
    margin:0 auto;
    width: 1200px;
    background-color: black;
}

body img {
    margin: 0 0 0 0;
    
}


.imgCenter{
    text-align: center;
}

nav{
    
    text-align: center;
    background-color: red;
}

nav ul li{
    display: inline;
}

nav ul li a{
    text-decoration: none;
    margin-right: 20px;
    border-radius: 5px;
    box-shadow: 2px 2px 1px black;
    color: black;
}

nav ul li a:hover {
    color: red;
    background: black;
    
}

body footer{
    background-color: red;
    text-align: center;
    text-decoration: black;
    height: 90%;
}

div .container{
    
}

button{
    text-align:center;
    background-color: brown;
    text-decoration-color: black;
    width: 10%;
    height: auto;
}

.album{
    width: 33%;
    float: left;
    text-align:center;
}

.album a{
    text-decoration: none;
    color:#FFF;
}

.album img{
    width: 100%; 
    height: 300px;
    display: block;
}

form label{
    color: white;
}